html body{
    background-color: #ffffff;

}
.container{
    padding: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    font-size: 200%;
    color: rgb(214, 93, 93);
    text-align: center;
}
.container1 {
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
   
}

.container2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container1>.data1{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f3caf8;
    border-radius: 8px
}

.container2>.data2{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#a1cce0;
    border-radius: 8px
}

#post1{
    width: 200px;
    height: 50px;
    background-color: #c7c4fc;
    margin-top: 10px;
}

#reply1 {
    width: 200px;
    height: 50px;
    background-color: #c0fac5;
    margin-top: 10px;

}


#reply2{
    width: 200px;
    height: 50px;
    background-color: #c5edfd;
    margin-top: 10px;
    
}

.data2{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.head-blog{
    width: 300px;
    background-color:#fffebd;
    border-radius: 8px
    
}


.button{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

}

.back{
    display: inline-block;
    border: 2px solid #fff;
    box-shadow:#FFF 0px 0px 10px, rgb(238, 61, 149) 0px 0px 20px, #FF2D95 0px 0px 30px, 2px 2px 2px 
    rgba(206,89,55,0);
    color: #FFFFFF;;
    padding: 30px 40px;
    text-decoration: none;
    font-size: 150%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:rgba(247, 159, 159, 0.753);
    float: right ;
    border-radius:10px;
    

}

.back:hover {
	background:linear-gradient(to bottom, #dd8888bb 5%, #da8686cb 100%);
	background-color:#db9696c7;
}
.back:active {
	position:relative;
	top:1px;
}