body{
    background-color: rgb(214, 169, 210);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}


legend{
    font-size: 200%;
    font-family: Hey August;
}

#squares-layer {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.671);
    border: 0.5rem solid rgb(255, 255, 255);
}
.square {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 3px solid black;
}
.red{
    background-color: red; 
}
.blue{
    background-color: blue; 
}

.green{
    background-color: green; 
}


/*grid1*/
.container {
	display: grid;
	grid-template-columns: 25% auto 25%;
}
fieldset{
   grid-column: 1 / span  2;
    font-size: 200%;
    font-family: Cordia New;
    color: rgb(0, 0, 0);
    margin-left: 25rem;
    border: 0.3rem solid rgb(255, 255, 255);
    background-color: #ffffffbd;
    display: inline-block;
}

#squares-container{
   grid-column: 1/ span 3;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.back{
    display: inline-block;
    border: 2px solid #fff;
    box-shadow:#FFF 0px 0px 10px, rgb(238, 61, 149) 0px 0px 20px, #FF2D95 0px 0px 30px, 2px 2px 2px 
    rgba(206,89,55,0);
    color: #FFFFFF;;
    padding: 30px 40px;
    text-decoration: none;
    font-size: 150%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:rgba(247, 159, 159, 0.753);
    float: right;;
    border-radius:10px;
    

}

.back:hover {
	background:linear-gradient(to bottom, #dd8888bb 5%, #da8686cb 100%);
	background-color:#db9696c7;
}
.back:active {
	position:relative;
	top:1px;
}

#start{
    font-size: 15pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fffd81;

}

